.*
*.swo
*.swp
**/target
/concordium-base/lib
/concordium-base/smart-contracts/lib
/concordium-consensus/lib
/concordium-consensus/concordium-consensus.cabal
*.orig
*.bk
_rust_rocksdb*
*rlib
tags
path
win_build
concordium-node/deps/*
**/.stack-work/*
**/*Dockerfile
