*.zst
*.swo
*.swp
target
*.orig
*.bk
_rust_rocksdb*
*rlib
tags
path
.vscode
.so
src/proto/concordium_p2p*.rs
.stack-work
dist
.cabal-sandbox
cabal.sandbox.config
workdir
win_build
scripts/local/assets/repos
deps/internal/crypto/build
src/proto/concordium_p2p_rpc*.rs
*.hp
*.prof
*.svg
*.ps
scripts/static-libs/static-libs-docker/output_dir/
result
