*.zst
*.swo
*.swp
*~
target
*.orig
*.bk
_rust_rocksdb*
*rlib
tags
path
.vscode
.so
.stack-work
dist
.cabal-sandbox
cabal.sandbox.config
workdir
win_build
deps/internal/crypto/build
*.hp
*.prof
*.svg
*.ps
scripts/static-libs/static-libs-docker/output_dir/
result
**/**/Cargo.lock
0
**/**/0
scripts/genesis-data/genesis_data/**
scripts/genesis-data/binaries/**
scripts/genesis-data/static-consensus-binaries-**
baker_id_gen
*.tar.gz
*.tar
*.mdb
CONSENSUS_VERSION
genesis-data
genesis-complementary-bundle
genesis-data-test
genesis_data
/concordium-consensus/stack.yaml.lock
/concordium-consensus/stack.integer-simple.yaml.lock
/concordium-consensus/concordium-consensus.cabal
/concordium-consensus/a.out
/concordium-consensus/HSdll.dll
/concordium-consensus/HSdll.dll.a
concordium-node/deps/static-libs
.dir-locals.el
hie.yaml
**/**/TAGS
.DS_Store
/concordium-node/*.log
