[submodule "deps/external/noiseexplorer_xx"]
	path = deps/external/noiseexplorer_xx
	url = ../noiseexplorer_xx.git
[submodule "concordium-base"]
	path = concordium-base
	url = ../concordium-base.git
[submodule "concordium-consensus/haskell-lmdb"]
	path = concordium-consensus/haskell-lmdb
	url = ../haskell-lmdb.git
