#!/bin/bash
set -e
. /usr/share/debconf/confmodule
set -u

# Ask for network type
db_input high concordium-node/network || true
db_go

# Export NETWORK and store result for postinst
db_get concordium/network
echo "NETWORK=$RET" > debian/network-config

# The systemd dropin file with user configuration.
DROP_IN="/etc/systemd/system/concordium-node-collector.service.d/override.conf"

if [[ ! -f "${DROP_IN}" ]]
then
    db_input high concordium-node-collector/node-name || true
    db_go # show interface
    # check that the response was not an empty string.
    db_get concordium-node-collector/node-name

    while [ -z "$RET" ]; do
        db_input high concordium-node-collector/node-name || true
        db_go
        db_get concordium-node-collector/node-name
    done
fi

