[Unit]
Description=Concordium ${build_env_name} Node Collector
After=syslog.target network.target concordium-node.service
# The node should be started before this service.
# Requires will automatically start the node service if this
# one is activated. Conversely, if the node is stopped the collector
# will be stopped as well.
# The 'After' clause above means that the node service will be up
# before this one is started.
Requires=concordium-${build_env_name_lower}-node.service

[Service]
Type=simple
ExecStart=/usr/bin/concordium-${build_env_name_lower}-node-collector-${build_version}
Restart=always
RestartSec=20

# sandboxing
# mount the entire filesystem as read-only (apart from /dev, /proc and /sys)
ProtectSystem=strict
DynamicUser=yes
ProtectClock=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectHostname=yes
ProtectHome=yes
PrivateUsers=yes
ProtectControlGroups=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
CapabilityBoundingSet=
LockPersonality=yes
RestrictRealtime=yes
MemoryDenyWriteExecute=yes

Environment=CONCORDIUM_NODE_COLLECTOR_COLLECT_INTERVAL=5000
Environment=CONCORDIUM_NODE_COLLECTOR_URL=${build_collector_backend_url}
Environment=CONCORDIUM_NODE_COLLECTOR_GRPC_HOST=http://localhost:${build_grpc2_listen_port}

[Install]
# start the service when reaching multi-user target
WantedBy=multi-user.target
