#!/bin/bash
set -e
. /usr/share/debconf/confmodule
set -u

# The systemd dropin file with user configuration.
DROP_IN="/etc/systemd/system/concordium-${build_env_name_lower}-node-collector.service.d/override.conf"

if [[ ! -f "${DROP_IN}" ]]
then
    db_input high concordium-${build_env_name_lower}-node-collector/node-name || true
    db_go # show interface
    # check that the response was not an empty string.
    db_get concordium-${build_env_name_lower}-node-collector/node-name

    while [ -z "$RET" ]; do
        db_input high concordium-${build_env_name_lower}-node-collector/node-name || true
        db_go
        db_get concordium-${build_env_name_lower}-node-collector/node-name
    done
fi

