Source: concordium-node
Maintainer: Concordium developers <developers@concordium.com>
Build-Depends: debconf ( >= 1.5.73 ), debhelper ( >= 12 ), dh-exec

Package: concordium-node
Section: extra
Priority: optional
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Concordium Node
