#!/usr/bin/make -f
%:
	dh $@

# install two services
# They will be enabled and started automatically when installed.
# Enabled means they will be started on boot.
override_dh_installsystemd:
		dh_installsystemd --name=concordium-${build_env_name_lower}-node # --no-enable --no-start
		dh_installsystemd --name=concordium-${build_env_name_lower}-node-collector # --no-enable --no-start

override_dh_dwz:
		# do nothing since we already stripped the binary

# remove any binaries that were potentially copied in
override_dh_clean:
#		rm -rf binaries
		dh_clean
