#!/usr/bin/make -f
#
NETWORK ?= "mainnet"

# Check for debconf-set value during build
ifneq ("$(wildcard debian/service-config)","")
    include debian/service-config
endif

%:
	dh $@

# install two services
# They will be enabled and started automatically when installed.
# Enabled means they will be started on boot.
# To not enable the service on boot add `--no-enable` to `th_installsystemd`.
# To not start the service automatically upon install add `--no-start`.
override_dh_installsystemd:
		# Verify that the service file exists
		@if [ ! -f debian/concordium-$(NETWORK)-node.service ]; then \
			echo "Error: Service file for '$(NETWORK)' not found!"; \
			exit 1; \
		fi
		# Install the service file with the appropriate name
		cp debian/concordium-$(NETWORK)-node.service debian/concordium-node.service
		cp debian/concordium-$(NETWORK)-node.dirs debian/concordium-node.dirs
		cp debian/concordium-$(NETWORK)-node.config debian/concordium-node.config
		dh_installsystemd --name=concordium-node

		# Verify that the service file exists
		@if [ ! -f debian/concordium-$(NETWORK)-node-collector.service ]; then \
			echo "Error: Service file for '$(NETWORK)' not found!"; \
			exit 1; \
		fi
		dh_installsystemd --name=concordium-node-collector

override_dh_dwz:
		# do nothing since we already stripped the binary

# remove any binaries that were potentially copied in
override_dh_clean:
#		rm -rf binaries
		dh_clean
		rm -f debian/concordium-node.service
		rm -f debian/concordium-node-collector.service
