#!/usr/bin/make -f
%:
	dh $@

# install two services
# They will be enabled and started automatically when installed.
# Enabled means they will be started on boot.
# To not enable the service on boot add `--no-enable` to `th_installsystemd`.
# To not start the service automatically upon install add `--no-start`.
override_dh_installsystemd:
		dh_installsystemd --name=concordium-${build_env_name_lower}-node
		dh_installsystemd --name=concordium-${build_env_name_lower}-node-collector

override_dh_dwz:
		# do nothing since we already stripped the binary

# remove any binaries that were potentially copied in
override_dh_clean:
#		rm -rf binaries
		dh_clean
