<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="font-family: Helvetica; padding-left: 10px; font-size: 12px;" align="left">
        <div>
            <h3>Concordium Node</h3>
                <p>Thank you for installing the Concordium Node.</p>
            <h4>Running and stopping Concordium Node</h4>
            <p>
                Four shortcuts have been installed in your <span>/Applications</span> folder for manually controlling the node.<br />
                If you chose to run nodes on startup, these shortcuts might not be relevant for you.<br /><br />
                The shortcuts are:<br />
                <ul>
                    <li><b>Concordium Node Start Mainnet</b></li>
                    <li><b>Concordium Node Stop Mainnet</b></li>
                    <li><b>Concordium Node Start Testnet</b></li>
                    <li><b>Concordium Node Stop Testnet</b></li>
                </ul>
            </p>
        </div>
        <div>
            <h4>Resources</h4>
                <p>Go through following links for additional information.
                <ul>
                    <li><a href="https://developer.concordium.software/en/mainnet/net/guides/overview-baker-process.html">Baking Overview Guide</a></li>
                    <li><a href="https://developer.concordium.software/">Documentation</a></li>
                </ul>
                </p>
        </div>
        <div>
            <h4>Uninstall Concordium Node</h4>
            <p>Run <b>Concordium Node Uninstaller</b></p>
        </div>
        <div>
            <br />
            <p>Copyright © 2021 Concordium Software.</p>
        </div>
    </body>
</html>
