<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div align="left" style="font-family: Helvetica; padding-left: 10px; font-size: 12px;">
            <br/>
            <p>This will install <b>Concordium Node __VERSION__</b> on your computer. You will be guided through the steps necessary to install this software.</p>
            <br/>
            <p>Click <b>“Continue"</b> to continue the setup.</p>
        </div>
    </body>
</html>
