[package]
name = "deployment"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "staticlib", "rlib"]

[dependencies]
concordium-contracts-common = { path = "../concordium-base/smart-contracts/contracts-common/concordium-contracts-common" }
