<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>software.concordium.node</string>
    <key>Program</key>
    <string>/usr/local/bin/concordium-node-__VERSION__</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>CONCORDIUM_NODE_CONFIG_DIR</key>
        <string>/Library/Application Support/Concordium Node/Mainnet/Config</string>
        <key>CONCORDIUM_NODE_DATA_DIR</key>
        <string>/Library/Application Support/Concordium Node/Mainnet/Data</string>
        <key>CONCORDIUM_NODE_CONNECTION_BOOTSTRAP_NODES</key>
        <string>bootstrap.mainnet.concordium.software:8888</string>
    </dict>
    <key>RunAtLoad</key>
    <false />
    <key>KeepAlive</key>
    <dict>
        <key>AfterInitialDemand</key>
        <dict>
	    <key>software.concordium.node</key>
            <true />
        </dict>
    </dict>
</dict>
</plist>
