<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>software.concordium.node-collector</string>
    <key>Program</key>
    <string>/usr/local/bin/concordium-node-collector-__VERSION__</string>
    <dict>
        <key>CONCORDIUM_NODE_COLLECTOR_MACOS_SUBSYSTEM_NAME</key>
        <string>software.concordium.mainnet.node</string>
    </dict>
    <key>RunAtLoad</key>
    <false />
    <key>KeepAlive</key>
    <dict>
        <key>OtherJobActive</key>
        <!-- Keep alive when node is running, and stop when node is stopped. -->
        <dict>
            <key>software.concordium.node</key>
            <true />
        </dict>

        <key>AfterInitialDemand</key>
        <dict>
           <key>software.concordium.node-collector</key>
           <true />
        </dict>

    </dict>
</dict>
</plist>
