[submodule "crypto"]
	path = crypto
	url = ../../crypto.git
[submodule "acorn"]
	path = acorn
	url = ../../oak/acorn.git
[submodule "globalstate-mockup"]
	path = globalstate-mockup
	url = ../globalstate-mockup.git
