[submodule "crypto"]
	path = crypto
	url = ../../crypto.git
[submodule "acorn"]
	path = acorn
	url = ../../oak/acorn.git
	branch = experiments
[submodule "globalstate-mockup"]
	path = globalstate-mockup
	url = git@gitlab.com:Concordium/consensus/globalstate-mockup.git
