image: 192549843005.dkr.ecr.eu-west-1.amazonaws.com/concordium/base-haskell:0.14

stages:
  - build
  - lint
  - test

.generic:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    EXTRA_LIBS_PATH: "$CI_PROJECT_DIR/external-libs"
    STACK_ROOT: "${CI_PROJECT_DIR}/.stack"
    LD_LIBRARY_PATH: "${CI_PROJECT_DIR}/crypto/lib:${CI_PROJECT_DIR}/smart-contracts/lib:$LD_LIBRARY_PATH"
    GIT_SUBMODULE_STRATEGY: recursive
    RUSTFLAGS: -Dwarnings
    EXTRA_LIBS_PATH: "$CI_PROJECT_DIR/external-libs"
  cache:
    paths:
      - .stack
      - .stack-work
      - crypto/.stack-work
      - Concordium/.stack-work
      - globalstate-mockup/deps/haskell-lmdb/.stack-work
      - globalstate-mockup/globalstate/.stack-work
      - globalstate-mockup/deps/haskell-lmdb/.stack-work
      - globalstate-types/.stack-work
      - scheduler/.stack-work
      - consensus-rust/target
      - crypto/rust-src/target
      - crypto/lib
      - smart-contracts/wasm-chain-integration/target
      - smart-contracts/lib

  before_script:
    - rustc --version && cargo --version
    - git config --global url.https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/.insteadOf ssh://git@gitlab.com:22/

.generic-haskell-build:
  extends: .generic

.generic-haskell-test:
  extends: .generic
  cache:
    policy: pull
  variables:
    TEST_LEVEL: 1
  needs: ["stack:build"]

.generic-rust-test:
  extends: .generic
  cache:
    policy: pull

.generic-rust-lint:
  extends: .generic
  cache:
    policy: pull

"stack:build":
  extends: .generic-haskell-build
  stage: build
  artifacts:
    expire_in: 1 hour
    name: "$CI_JOB_STAGE-$CI_COMMIT_REF_NAME"
    paths:
      - external-libs/
  script:
    - "./build-deps.sh"
    - "stack build --force-dirty --test --no-run-tests --bench --no-run-benchmarks --ghc-options -j4"
    - consensus-rust/scripts/setup-ci.sh

"cargo:fmt":
  extends: .generic-rust-lint
  stage: lint
  cache: {}
  dependencies: []
  image: 192549843005.dkr.ecr.eu-west-1.amazonaws.com/concordium/base-rust-fmt:2019-11-13
  script:
    - ( cd consensus-rust && cargo fmt -- --color=always)
    - test $(git ls-files --modified | grep -v ".dll$" | grep -v ".a$" | grep -v ".pc$" | grep -v ".def$" | grep -v "tar.gz" | wc -l) -eq 0 || (echo 'You have introduced some unformatted code:'; git ls-files --modified | grep -v ".dll$" | grep -v ".a$" | grep -v ".pc$" | grep -v ".def$" | grep -v "tar.gz" | sed 's/^/* /'; echo 'Please run `cargo fmt` and amend your MR.'; exit 1)
  needs: []

"cargo:clippy":
  extends: .generic-rust-lint
  stage: lint
  script:
    - echo "Running clippy with without extra features"
    - ( cd consensus-rust && cargo clippy --color=always --all -- -Dclippy::all )

"cargo:test":
  extends: .generic-rust-test
  stage: test
  script:
    - echo "Running tests without extra features"
    - ( cd consensus-rust && cargo test --all --color=always )

"stack:test:globalstate-types":
  extends: .generic-haskell-test
  stage: test
  script:
    - "stack test globalstate-types --bench --no-run-benchmarks"

"stack:test:globalstate":
  extends: .generic-haskell-test
  stage: test
  script:
    - "stack test globalstate --bench --no-run-benchmarks --ta --level=${TEST_LEVEL}"

"stack:test:scheduler":
  extends: .generic-haskell-test
  stage: test
  script:
    - "( ./.diff-wat-wasm.sh )"
    - "stack test scheduler --bench --no-run-benchmarks"

"stack:test:consensus":
  extends: .generic-haskell-test
  stage: test
  script:
    - "stack test Concordium --bench --no-run-benchmarks --ta --level=${TEST_LEVEL}"
