[submodule "crypto"]
	path = crypto
	url = ../../crypto.git
[submodule "globalstate-types"]
	path = globalstate-types
	url = ../globalstate-types.git
[submodule "smart-contracts"]
	path = smart-contracts
	url = ../../smart-contracts.git
