<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>software.concordium.node</string>
    <key>Program</key>
    <string>/usr/local/bin/concordium-node</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>CONCORDIUM_NODE_CONFIG_DIR</key>
        <string>/Users/kasper/.config/concordium</string>
        <key>CONCORDIUM_NODE_DATA_DIR</key>
        <string>/Users/kasper/.local/share/concordium</string>
        <key>CONCORDIUM_NODE_CONNECTION_BOOTSTRAP_NODES</key>
        <string>bootstrap.testnet.concordium.com:8888</string>
    </dict>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
