name: PLT scheduler checks

on:
  push:
    branches:
    - main
    paths:
    - '.github/workflows/deployment-build-test.yaml'
    - 'concordium-base'
    - 'plt-deployment-unit'
    - 'plt-scheduler'

  pull_request:
    paths:
    - '.github/workflows/plt-scheduler-build-test.yaml'
    - 'concordium-base'
    - 'plt-deployment-unit'
    - 'plt-scheduler'
env:
  CARGO_TERM_COLOR: always # implicitly adds '--color=always' to all cargo commands

jobs:
  rustfmt:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Run rustfmt
        working-directory: plt-scheduler
        run: |
          rustup component add rustfmt
          cargo fmt -- --check

  clippy_test:
    name: Run Clippy and tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Clippy
        working-directory: plt-scheduler
        run: |
          rustup component add clippy
          cargo clippy --all-targets --all-features --locked -- -D warnings
      - name: Test
        working-directory: plt-scheduler
        run: cargo test --all-targets --all-features
