name: PLT scheduler checks

on:
  push:
    branches:
    - main
    paths:
    - '.github/workflows/plt-build-test.yaml'
    - 'concordium-base'
    - 'plt'

  pull_request:
    paths:
    - '.github/workflows/plt-build-test.yaml'
    - 'concordium-base'
    - 'plt'
env:
  CARGO_TERM_COLOR: always # implicitly adds '--color=always' to all cargo commands

jobs:
  rustfmt:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Run rustfmt
        working-directory: plt
        run: |
          rustup component add rustfmt
          cargo fmt --check

  clippy_test:
    name: Run Clippy and tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Clippy
        working-directory: plt
        run: |
          rustup component add clippy
          cargo clippy --locked --all-targets --all-features -- -D warnings
      - name: Test
        working-directory: plt-scheduler
        run: |
          cargo test --locked --all-targets --all-features
