# Workflow triggered by pushes to the master branch and PRs targeting it
# (as long as the commits contain Rust code changes).

# The workflow consists of the single job 'rustfmt'
# which checks formatting of the Rust sources using the 'rustfmt' tool.
# The job is skipped if the workflow was triggered by a PR
# marked as a draft.

name: Run rustfmt

on:
  push:
    branches: main
    paths:
    - '.github/workflows/rustfmt.yaml'
    - 'concordium-node/rustfmt.toml'
    - '**.rs'
  pull_request:
    branches: main
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
    - '.github/workflows/rustfmt.yaml'
    - 'concordium-node/rustfmt.toml'
    - '**.rs'
  workflow_dispatch: # allow manual trigger

env:
  CARGO_TERM_COLOR: always # implicitly adds '--color=always' to all cargo commands

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}

    strategy:
      matrix:
        plan:
          # from concordium/rustfmt:0.17
        - rust: "nightly-2021-06-09-x86_64-unknown-linux-gnu"

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        # token: ${{ secrets.CONCORDIUM_CI }}
        submodules: recursive

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.plan.rust }}
        override: true
        components: rustfmt
    - name: Run rustfmt
      run: |
        cargo fmt --manifest-path concordium-node/Cargo.toml --all -- --check
        cargo fmt --manifest-path service/windows/Cargo.toml --all -- --check
        cargo fmt --manifest-path service/windows/installer/custom-actions/Cargo.toml --all -- --check
